@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	--font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
	--font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-serif: Georgia, 'Times New Roman', serif;
	--font-family: 'Poppins', Arial, Helvetica, sans-serif;
	--font-family-text: 'Open Sans', Arial, Helvetica, sans-serif;
	--font-family-mono: 'VT323', 'JetBrains Mono', 'Fira Code', monospace;
	--font-family-jet: 'JetBrains Mono', 'Fira Code', monospace;
	--font-family-fira: 'Fira Code', monospace;
	--font-family-terminal: 'VT323', monospace;
	--font-size: 16px;
	--border-radius: 10px;
	--btn-border-radius: 50px;
	--z-index-menu: 9000;
	--scrollbar-width: 10px;
	--scrollbar-thumb-page: #999;
	--scrollbar-bg-page: #e6e6e6;
	--scrollbar-thumb-panel: #ff9557; /* Green #BBFD38; Orange #ff9557; #fa8618 */
	--scrollbar-bg-panel: #e6e6e6;
}

:root {
	color-scheme: light;
	--bg-primary: #fff;
	--bg-secondary: #f5f6fa;
	--bg-third: #fafafb; /* #fafafb; #f6f9fc; */
	--text-primary: #0d0d0d;
	--text-secondary: #454850;
	--text-third: #b3b3b3; /* #b3b3b3; */
	--accent-primary: #ff9557; /* #0249fe; */
	--accent-secondary: #fd6e41; /* #fd6e41; #ff3000; #FC4409; #f6782f; */
	--placeholder: #ddd;
	--logo: url('@/assets/images/logo-light.png');
	--divider-primary: #e7e7e9;
	--text-disabled: #999;
	--btn-gray: #f9f9f9;
}

/* color mode from browser setting */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--bg-primary: #2f282b; /* #212529; #1E1E1E; #212529; */
		--bg-secondary: #342c30;
		--bg-third: #3b3538;
		--text-primary: #fff;
		--text-secondary: #949392;
		--text-third: #a4a4a4;
		--accent-primary: #ff9557; /* #0249FE; */
		--placeholder: #717171;
		--code-border: #717171;
		--logo: url('@/assets/images/logo-dark.png');
		--divider-primary: #3b3538;
		--text-disabled: #999;
		--btn-gray: #717171;
	}
}

/* color mode from html tag attribute */
[color-scheme='light'] {
	color-scheme: light;
	--bg-primary: #fff;
	--bg-secondary: #f5f6fa;
	--bg-third: #fafafb; /* #fafafb; #f6f9fc; */
	--text-primary: #0d0d0d;
	--text-secondary: #454850;
	--text-third: #b3b3b3;
	--accent-primary: #ff9557; /* #0249fe; */
	--placeholder: #ddd;
	--logo: url('@/assets/images/logo-light.png');
	--divider-primary: #e7e7e9;
	--text-disabled: #999;
}

[color-scheme='dark'] {
	color-scheme: dark;
	--bg-primary: #2f282b; /* #212529; #1E1E1E; #212529; */
	--bg-secondary: #342c30;
	--bg-third: #3b3538;
	--text-primary: #fff;
	--text-secondary: #949392;
	--text-third: #a4a4a4;
	--accent-primary: #ff9557; /* #0249FE; */
	--placeholder: #717171;
	--code-border: #717171;
	--logo: url('@/assets/images/logo-dark.png');
	--divider-primary: #3b3538;
	--text-disabled: #999;
	--btn-gray: #717171;
}

html {
	display: block;
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: var(--bg-primary);
	margin: 0;
	padding: 0px;
	height: 100vh;
	overflow-y: scroll;
	overflow: hidden;
}

body {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0px;
	color: var(--text-primary);
	background: var(--bg-primary);
	transition: color 0.5s, background-color 0.5s;
	position: relative;
	overflow: hidden;
}

p {
	font-family: var(--font-family-text);
}

img,
svg {
	display: inline-block;
	max-width: 100%;
}

iframe {
	color-scheme: light !important;
}

* {
	box-sizing: border-box;
	outline: 0px none transparent;
	text-decoration: none;
}

::before,
::after {
	box-sizing: border-box;
	content: none;
}

::placeholder {
	color: var(--placeholder);
	opacity: 1;
}

::selection {
	background: #0e7aff;
	color: #fff;
}

#app {
	position: relative;
	float: left;
	width: 100%;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#app__scrollbar {
	position: relative;
	float: left;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll !important;
}

/* Panel scrollbar */
.scrollbar-thin {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-panel) var(--scrollbar-bg-panel);
}

.scrollbar-thin::-webkit-scrollbar {
	width: var(--scrollbar-width);
	background: var(--scrollbar-thumb-panel);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background: var(--scrollbar-bg-panel);
}

/* Page scrollbar */
.scrollbar-page {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-page) var(--scrollbar-bg-page);
}

.scrollbar-page::-webkit-scrollbar {
	width: 8px;
	background: var(--scrollbar-thumb-page);
}

.scrollbar-page::-webkit-scrollbar-thumb {
	background: var(--scrollbar-bg-page);
}

.section {
	float: left;
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.section__wrapper {
	margin: 0px auto;
	height: auto;
	width: 90%;
	max-width: 1120px;
}
